<div class="container-fluid d-flex flex-column align-items-center">
<h1>Healthcare Center</h1>
        <% if current_user %>
          <p>Hello, your authorization number is <%= current_user.phone%> !</p> 
          <p>You are [<%= current_user.role%>] </p>
        <% if current_user.is? :admin %>  
          <p> Hello boss! </p>
          <p>There are <%= User.count %> users in the system</p>
        <% end%>
        <% if current_user.is? :doctor %>   
          <p> Hello doc! </p>
        <% end%>  
         <% if current_user.is? :patient %>   
          <p> Hello, peek your doc! </p>
        <% end%> 
          <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-primary text-light" %>
        <% else %>
           <% if controller_name != "sessions" %>
              <p>You are not signed in</p>
              <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary text-light" %>
            <% end %>
            <% if controller_name != "registrations" %>
              <p>You are not registrated</p>
              <%= link_to "Sign up",  new_user_registration_path, class: "btn btn-primary text-light" %>
            <% end %>
        <% end%>
</div>        